<main>
  <h1 class="encabezados">ORGANIGRAMA</h1>

  <div class="organigrama">
    <div class="nivel">
      <div class="caja1">ASAMBLEA GENERAL</div>
    </div>

    <div class="lineaV"></div>

    <div class="nivel">
      <div class="caja1">JUNTA DIRECTIVA</div>
    </div>

    <div class="lineaV"></div>

    <div class="nivel">
      <div class="caja1">ÁREAS DE TRABAJO</div>
    </div>

    <div class="lineaV"></div>
    <div class="conector">
      <div class="lineaH"></div>
      <div class="lineaH"></div>
      <div class="lineaH"></div>
      <div class="lineaH"></div>
    </div>

    <div class="nivel">
      <div class="caja2">Trabajo Social</div>
      <div class="caja2">Formación</div>
      <div class="caja2">Atención Temprana y Logopedia</div>
      <div class="caja2">Atención y Apoyo a Familias</div>
      <div class="caja2">Voluntariado</div>
    </div>
  </div>

  <div class="junta-directiva">
    <h2>Composición de la Junta Directiva</h2>
    <ul>
      <li>Presidenta: Rocío Fernández Castro.</li>
      <li>Vicepresidenta: Lucía Romero Molina.</li>
      <li>Secretario: Luis Manuel Latorre Pulgar.</li>
      <li>Tesorera: Ana María Denia Ortega.</li>
      <li>Vocal: Gema Torres Cano.</li>
      <li>Vocal: Juan Carlos Murillo Ridao.</li>
      <li>Vocal: María Dolores Martos Garrido.</li>
    </ul>
  </div>
</main>

