<footer class="text-white py-4">
  <div class="container">
    <section class="rrss d-flex justify-content-center gap-4 py-2">
      <a href="https://www.facebook.com/afais.jaen/?locale=es_ES" target="_blank" class="text-white">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/afaisjaen/" target="_blank" class="text-white">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </section>

    <section class="info text-center">
      <div>Calle Pintor Zabaleta, 7, 23008 Jaén</div>
      <div>afais-jaen&#64;afais-jaen.es</div>
      <div>Teléfono 953 08 84 82 | Whatsapp 601 32 59 03</div>
    </section>
  </div>
</footer>
