<main class="container py-4">
  <h1 class="text-center fw-bold">ACTIVIDADES</h1>

  <div *ngIf="this.actividades.length == 0" class="py-5">
    <h2 class="d-flex align-items-center justify-content-center">
      Nuevas actividades próximamente...
    </h2>
  </div>

  <section class="px-5">
    <div *ngFor="let actividad of actividades" class="mb-4 mt-4">
      <h2 class="d-flex align-items-center justify-content-between">
        <span *ngIf="!actividad.editando">{{ actividad.titulo }}</span>
        <input *ngIf="isLoggedIn && actividad.editando" [(ngModel)]="actividad.titulo" class="form-control" />

        <span *ngIf="isLoggedIn">
          <i *ngIf="!actividad.editando" class="fas fa-edit text-warning fs-4 me-2" (click)="editarActividad(actividad)"></i>
          <i class="fas fa-trash text-danger fs-4" (click)="eliminarActividad(actividad.id)"></i>
        </span>
      </h2>

      <div class="d-flex border p-3 rounded align-items-stretch">
        <img [src]="getImage(actividad.id)" class="me-3 flex-shrink-0"
          style="width: 200px; height: 200px">

        <div class="border p-2 w-100 d-flex flex-column">
          <p *ngIf="!actividad.editando" class="m-0 text-break w-100" style="white-space: pre-wrap">{{ actividad.descripcion }}</p>
          <textarea *ngIf="isLoggedIn && actividad.editando" [(ngModel)]="actividad.descripcion" class="form-control"></textarea>
        </div>
      </div>

      <button *ngIf="isLoggedIn && actividad.editando" class="btn btn-success mt-2" (click)="guardarEdicion(actividad)">Guardar</button>
    </div>
  </section>

  <div *ngIf="isLoggedIn" class="card shadow-sm mx-auto" style="max-width: 28rem;">
    <div class="card-body">
      <h2 class="card-title fs-5 fw-semibold">Añadir Nueva Actividad</h2>
      <form (ngSubmit)="agregarActividad()" enctype="multipart/form-data" class="d-flex flex-column gap-3">
        <div>
          <label for="titulo" class="form-label fw-medium">Título</label>
          <input type="text" id="titulo" [(ngModel)]="nuevaActividad.titulo" name="titulo" required
            class="form-control" autocomplete="off">
        </div>
        <div>
          <label for="descripcion" class="form-label fw-medium">Descripción</label>
          <textarea id="descripcion" [(ngModel)]="nuevaActividad.descripcion" name="descripcion" required
            class="form-control"></textarea>
        </div>
        <div>
          <label for="UrlImagen" class="form-label fw-medium">Imagen</label>
          <input type="file" id="UrlImagen" (change)="onFileSelected($event)" required class="form-control">
        </div>
        <button type="submit" class="btn btn-dark w-100">Añadir Actividad</button>
      </form>
    </div>
  </div>
</main>
