<main>

  <section class="misionFines">
    <h1 class="encabezados">SOMOS AFAIS</h1>

    <p>La Asociación de Familias y Amigos de la Infancia Sorda, <strong>AFAIS-JAÉN</strong>, es una
      Organización No Gubernamental de Nacionalidad Española, sin ánimo de lucro, que fue
      fundada el 18 de febrero de 1978.
      La asociación, en un principio, se le denominó Asociación Provincial de Padres y
      Amigos del Sordo, representada por las siglas APASEN.
      Posteriormente, el 19 de junio de 1994, se modificó la denominación pasando a
      ser conocida como Asociación de Padres y Amigos de los Sordos, APAS-Jaén, pero ésta
      quedó inactiva durante un periodo de cuatro años. En 2012 una nueva junta directiva, con
      energía y anhelo de resurgirla, se unió para que esta asociación consiga defender y lograr
      nuevamente sus objetivos. Con la toma de una nueva Junta Directiva se propuso cambiar
      nuevamente el nombre de la misma, pasando a ser denominada Asociación de Familias y
      Amigos de la Infancia Sorda, representada por las siglas AFAIS-JAEN.</p>

    <h1 class="encabezados">MISIÓN</h1>

    <p>Representar y defender los derechos e intereses globales de los niños y niñas, así
      como de los jóvenes con discapacidad auditiva y sus familias, tanto a nivel local
      como provincial, ante la sociedad, administraciones y demás instituciones,
      integrando e impulsando con este fin el movimiento asociativo del colectivo de
      personas sordas.</p>

    <h1 class="encabezados">FINES</h1>

    <p>Entre sus fines y actividades fundamentales se haya “obtener soluciones
      adecuadas a las necesidades que se les plantean a los discapacitados auditivos y a sus
      familias para su realización como ciudadanos de pleno derecho dentro de la
      sociedad. Este fin genérico se concreta entre otros en los siguientes fines específicos: </p>
    <ul>
      <li>
        <p>Servir de cauce de postulación, representación e iniciativa ante las
          Administraciones Públicas y cualquier otro Organismo público o privado que
          tenga competencias relacionadas con el fin primordial de AFAIS- Jaén.</p>
      </li>
      <li>
        <p>
          La atención directa al discapacitado auditivo desde su detección, en la
          rehabilitación, atención temprana, educación, formación profesional, inserción
          socio-laboral y demás problemas que la falta de audición le pueda plantear.
        </p>
      </li>
      <li>
        <p>
          La atención directa a la familia en información, formación, y concienciación a
          través de los medios a su alcance.
        </p>
      </li>
      <li>
        <p>
          Crear centros de atención temprana y rehabilitación auditiva y logopédica, para la
          prestación de estos servicios a los discapacitados auditivos de su provincia.
        </p>
      </li>
      <li>
        <p>
          La información social del problema a través de los medios a su alcance, para que
          la sociedad tome conciencia.
        </p>
      </li>
      <li>
        <p>
          Fomentar la participación de personas voluntarias en el desarrollo de las
          actividades de AFAIS-JAÉN, favoreciendo la formación del mismo.
        </p>
      </li>
      <li>
        <p>
          Valerse de cualquier otro medio lícito que sirva para la realización de sus fines.
        </p>
      </li>
    </ul>
  </section>

</main>
